@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body,
html {
  height: 100vh; }

p {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

ul {
  margin: 0;
  list-style-type: none;
  padding: 0; }

a {
  text-decoration: none; }

body {
  font-family: Helvetica, sans-serif; }

.layout {
  overflow-x: hidden;
  display: grid;
  min-height: 100%;
  grid-template: minmax(80px, auto) 1fr minmax(70px, auto)/1fr;
  grid-template-areas: "header" "main" "footer"; }

.container {
  width: 1200px;
  margin: 0 auto; }
  @media screen and (max-width: 992px) {
    .container {
      width: 800px; } }
  @media screen and (max-width: 768px) {
    .container {
      width: 100%; } }

img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }
  @media screen and (max-width: 992px) {
    img {
      height: 100%; } }

@media screen and (max-width: 992px) {
  .mobile {
    height: 100%;
    width: 100%; } }

.ml10 {
  margin-left: 10px; }

.w793 {
  width: 793px; }

#map {
  width: 805px;
  height: 683px; }

.map-text {
  font-weight: 300;
  font-size: 22px;
  color: #000;
  margin-top: 10px;
  white-space: nowrap;
  display: block; }
  .map-text:first-child {
    margin-top: 0; }

.map-link {
  font-weight: 300;
  font-size: 22px;
  color: #000; }

.header {
  grid-area: header;
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 1200px) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 992px) {
    .header {
      grid-template: 1fr/1fr minmax(auto, 800px) 1fr; } }
  @media screen and (max-width: 768px) {
    .header {
      grid-template: 1fr/1fr minmax(auto, 90%) 1fr; } }
  @media screen and (max-width: 400px) {
    .header {
      grid-template: 1fr/1fr minmax(auto, 90%) 2.5fr; } }
  .header__logo-img {
    width: 232px;
    height: 106px; }
    @media screen and (max-width: 768px) {
      .header__logo-img {
        width: 76px;
        height: 35px; } }
  .header__container {
    grid-column: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__button-link {
    background: #fa8c31;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 180px;
    height: 54px;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    font-weight: 400; }
    .header__button-link:hover {
      background: #f27106; }
    @media screen and (max-width: 768px) {
      .header__button-link {
        width: 88px;
        height: 35px;
        font-size: 15px; } }
  .header__button-connect {
    width: 122px;
    height: 36px;
    border: 2px solid #000000;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 400;
    font-size: 20px;
    color: #000000; }
    @media screen and (max-width: 768px) {
      .header__button-connect {
        width: 88px;
        height: 35px;
        font-size: 15px; } }

.gallery {
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 1200px) 1fr; }
  @media screen and (max-width: 992px) {
    .gallery {
      grid-template: 1fr/1fr minmax(auto, 800px) 1fr; } }
  @media screen and (max-width: 768px) {
    .gallery {
      grid-template: 1fr/1fr minmax(auto, 90%) 1fr; } }
  @media screen and (max-width: 400px) {
    .gallery {
      grid-template: 1fr/1fr minmax(auto, 90%) 2.5fr; } }
  .gallery__container {
    grid-column: 2/3;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    margin-bottom: 120px;
    width: 100%; }
    @media screen and (max-width: 992px) {
      .gallery__container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); } }
    @media screen and (max-width: 768px) {
      .gallery__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .gallery__container_mb-40 {
      margin-bottom: 41px; }
    .gallery__container_hidden {
      display: none;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .gallery__container_show {
      display: block; }
  .gallery__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    @media screen and (max-width: 768px) {
      .gallery__card {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .gallery__card-logo {
      width: 795px; }
      .gallery__card-logo_wide {
        width: 808px; }
        @media screen and (max-width: 992px) {
          .gallery__card-logo_wide {
            width: 100%; } }
      @media screen and (max-width: 992px) {
        .gallery__card-logo {
          width: 100%; } }
      @media screen and (max-width: 992px) {
        .gallery__card-logo_mobile {
          width: 525px;
          height: 100%; } }
      @media screen and (max-width: 768px) {
        .gallery__card-logo_mobile {
          width: 100%; } }
    .gallery__card_big {
      grid-column: span 2; }
  .gallery__description {
    margin-left: 36px; }
    @media screen and (max-width: 992px) {
      .gallery__description {
        margin-left: 26px;
        max-width: 65%; } }
    @media screen and (max-width: 768px) {
      .gallery__description {
        margin-left: 0;
        max-width: 100%;
        margin-top: 18px; } }
    .gallery__description_height {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
  .gallery__text {
    font-weight: 300;
    font-size: 22px;
    color: #000000;
    margin-bottom: 15px; }
    @media screen and (max-width: 992px) {
      .gallery__text {
        font-size: 16px; } }
    @media screen and (max-width: 768px) {
      .gallery__text {
        font-size: 22px;
        max-width: 100%; } }
    .gallery__text:last-child {
      margin-bottom: 0; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .card__logo {
    max-width: 383px;
    max-height: 288px; }
    @media screen and (max-width: 768px) {
      .card__logo {
        max-width: 100%;
        max-height: 100%; } }
    .card__logo_big {
      width: 386px;
      height: 557px; }
      @media screen and (max-width: 992px) {
        .card__logo_big {
          width: 100%;
          height: 100%; } }
      @media screen and (max-width: 768px) {
        .card__logo_big {
          width: 100%; } }
  .card__title {
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    margin-top: 20px; }
    .card__title:hover {
      color: #333333; }
  .card__photo {
    height: 560px; }
    .card__photo_high {
      height: 681px; }
    .card__photo_wide {
      width: 100%; }
    .card__photo_medium-height {
      height: 510px; }
    .card__photo_big {
      width: 795px;
      height: 1051px; }
      @media screen and (max-width: 992px) {
        .card__photo_big {
          width: 100%; } }
    .card__photo_biggest {
      width: 808px;
      height: 100%; }
      @media screen and (max-width: 992px) {
        .card__photo_biggest {
          width: 100%;
          height: 100%; } }
    .card__photo_small {
      width: 388px;
      height: 517px; }
    .card__photo_h99 {
      height: 99%; }
      @media screen and (max-width: 992px) {
        .card__photo_h99 {
          height: 1143px; } }
      @media screen and (max-width: 768px) {
        .card__photo_h99 {
          height: 100%; } }
  .card_big {
    grid-column: span 2; }
    @media screen and (max-width: 768px) {
      .card_big {
        grid-column: span 1; } }
  .card_wide {
    grid-column: span 3; }
  .card_height {
    grid-column: span 2;
    grid-row: span 2; }
  .card_ml29 {
    margin-left: 29px; }
    @media screen and (max-width: 992px) {
      .card_ml29 {
        margin-left: 0; } }
  .card_ml18 {
    margin-left: 18px; }
    @media screen and (max-width: 768px) {
      .card_ml18 {
        margin-left: 0; } }

.circle {
  width: 383px;
  height: 292px;
  background: #e8e8e8;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  border-radius: 146px; }
  @media screen and (max-width: 768px) {
    .circle {
      max-width: 99%; } }

.next-project {
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 1200px) 1fr;
  margin-bottom: 120px; }
  @media screen and (max-width: 992px) {
    .next-project {
      grid-template: 1fr/1fr minmax(auto, 800px) 1fr; } }
  @media screen and (max-width: 768px) {
    .next-project {
      margin-top: -20px;
      grid-template: 1fr/1fr minmax(auto, 90%) 1fr; } }
  @media screen and (max-width: 400px) {
    .next-project {
      grid-template: 1fr/1fr minmax(auto, 90%) 2.5fr; } }
  .next-project__container {
    grid-column: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .next-project__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 257px;
    height: 33px;
    border: 2px solid #000000;
    border-radius: 30px;
    font-weight: 300;
    font-size: 20px;
    color: #000000; }

.load-photo__button {
  width: 115px;
  height: 36px;
  border: 2px solid #FA8C31;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
  font-size: 20px;
  color: #FA8C31;
  cursor: pointer;
  white-space: nowrap;
  margin-right: 15px; }

.ellipse {
  width: 364px;
  height: 560px;
  background: #e8e8e8;
  border-radius: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 22px;
  color: #202020; }
  @media screen and (max-width: 992px) {
    .ellipse {
      width: 100%; } }
  .ellipse__desc {
    font-weight: 300;
    font-size: 22px;
    color: #ffffff; }
    .ellipse__desc_black {
      color: #000; }
  .ellipse_top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .ellipse__container {
    padding-right: 41px;
    padding-left: 41px; }
  .ellipse_grey {
    background: #999999; }
  .ellipse_green {
    background: #809984; }
  .ellipse_light-blue {
    background: #c7d4dc; }
  .ellipse_orange {
    background: #fa8c31; }
  .ellipse__text {
    margin-top: -207px; }

.footer {
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 1200px) 1fr; }
  @media screen and (max-width: 992px) {
    .footer {
      grid-template: 1fr/1fr minmax(auto, 800px) 1fr; } }
  @media screen and (max-width: 768px) {
    .footer {
      display: none; } }
  @media screen and (max-width: 768px) {
    .footer {
      grid-template: 1fr/1fr minmax(auto, 100%) 1fr; } }
  .footer__container {
    grid-column: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__instagram-link {
    font-size: 20px;
    color: #fa8c31;
    font-weight: 300; }
  .footer__text {
    font-weight: 300;
    font-size: 20px;
    color: #000000; }
