.gallery {
  display: grid;
  grid-template: 1fr / 1fr minmax(auto, 1200px) 1fr;
  @include tablets() {
    grid-template: 1fr / 1fr minmax(auto, 800px) 1fr;
  }

  @include phones() {
    grid-template: 1fr / 1fr minmax(auto, 90%) 1fr;
  }
  &__container {
    grid-column: 2/3;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    margin-bottom: 120px;
    width: 100%;
    @include tablets() {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    @include phones() {
      display: flex;
      flex-direction: column;
      
    }

    &_mb-40 {
      margin-bottom: 41px;
    }

    &_hidden {
      display: none;
      transition: all 0.3s ease-in-out;
    }

    &_show {
      display: block;
    }
  }

  &__card {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    @include phones() {
      flex-direction: column;
    }

    &-logo {
      width: 795px;
      &_wide {
        width: 808px;
        @include tablets() {
          width: 100%;
        }
      }

      @include tablets() {
        width: 100%;
      }
      &_mobile {
        @include tablets() {
          width: 525px;
          height: 100%;
        }
        @include phones() {
          width: 100%;
        }
      }
    }

    &_big {
      grid-column: span 2;
    }
  }

  &__description {
    margin-left: 36px;
    @include tablets() {
      margin-left: 26px;
      max-width: 65%;
    }

    @include phones() {
      margin-left: 0;
      max-width: 100%;
      margin-top: 18px;
    }

    &_height {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 22px;
    color: #000000;
    margin-bottom: 15px;
    @include tablets() {
      font-size: 16px;
    }

    @include phones() {
      font-size: 22px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
