.header {
  grid-area: header;
  display: grid;
  grid-template: 1fr / 1fr minmax(auto, 1200px) 1fr;
  align-items: center;
  @include tablets(){
    grid-template: 1fr / 1fr minmax(auto, 800px) 1fr;
  }
  @include phones(){
    grid-template: 1fr / 1fr minmax(auto, 90%) 1fr;
  }

  &__container {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &__button {
    &-link {
      background: #fa8c31;
      border-radius: 30px;
      transform: rotate(5.16deg);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 180px;
      height: 54px;
      font-size: 25px;
      line-height: 29px;
      color: #000000;
      &:hover{
        background: darken(#fa8c31, 10%);
      }
      //   padding-right: 15px;
    }

    &-connect {
      width: 122px;
      height: 36px;
      border: 2px solid #000000;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: normal;
      font-size: 20px;
      color: #000000;
    }
  }
}
